<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<link rel="stylesheet" href="/assets/css/style.css" type="text/css" />
		<title>Eat More Burgers</title>
		<script src="https://code.jquery.com/jquery.js"></script>
		<script src="/assets/js/hamburger.js"></script>
	</head>
	<body>
		<img src="assets/img/burger.jpg">
		{{{ body }}}
	</body>
</html>